.first-horizontal-block {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

img {
  margin-left: 10px;
  border-radius: 30px;
  float: left;
  height: 15%;
  width: 15%;
}

h1 {
  position: relative;
  left: -60px;
}

.video {
  position: relative;
  margin-top: 40px;
}

.second-horizontal-block {
  text-align: center;
}

.video-buttons {
  margin-top: 20px;
  padding: 10px;
}
